body {
    background: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

h1 {
    text-align: center;
}

.container {
    width: 600px;
    margin: 60px auto;
    background-color: grey;
}

table {
    border-collapse: separate;
    border-spacing: 10px;
}

.cell {
    width: 35px;
    height: 35px;
    border-radius: 1px;
    cursor: pointer;
    background-color: rgb(192, 187, 187);
}

.marked {
    background-color: orange;
}

.shown {
    background-color: yellow;
}

/* .seat.booked:hover {
    background-color: gray;
    cursor: not-allowed;
}

.popup {
    position: absolute;
    right: 20px;
    top: 20px;

    background-color: orange;
    padding: 20px;
}

.popup .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;

    background-color: transparent;
    border: 1px solid white;
    color: white;
}

.popup .btn-highlight-seats {
    cursor: pointer;
} */